<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>export __CF_USER_TEXT_ENCODING=0x1F5:0x8000100:0x8000100; php -f script.php -- {query} | pbcopy
echo "Blábot.net";</string>
	<key>disabled</key>
	<false/>
	<key>escapequery</key>
	<true/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<true/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>blabot</string>
	<key>logging</key>
	<false/>
	<key>parameter</key>
	<integer>0</integer>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Hezké české Lorem Ipsum</string>
	<key>title</key>
	<string>Blábot.net</string>
</dict>
</plist>
